@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&display=swap");

@font-face {
  font-family: "miFuente";
  src: url("../assets/fuentes/2717-font.otf");
}

@tailwind base;

@layer base {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style-type: none;
  }

  /* HTML */
  html {
    font-size: 100%;
  }

  @media (max-width: 640px) {
    html {
      font-size: 80%;
    }
  }

  /* Body */
  body {
    font-family: Inter, sans-serif;
  }

  /* h1 - h6 */
  h1 {
    font-family: "miFuente", Inter, sans-serif;
    font-weight: 600;
    font-size: 3.125rem;
  }

  @media (max-width: 640px) {
    h1 {
      font-size: 25px;
    }
  }

  h2 {
    font-family: "miFuente", Inter, sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
  }

  h3 {
    font-family: "miFuente", Inter, sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
  }

  /* text */
  p {
    @apply text-sm text-[#878787];
  }

  /* Band */

  @keyframes marquee {
    0% {
      left: 0;
    }
    100% {
      left: -100%;
    }
  }
  .animate {
    width: 200%;
    animation: marquee 8s linear infinite;
    top: 50%;
    transform: translate(0, -50%);
  }

  @media (max-width: 576px) {
    .animate {
      width: 200%;
      animation: marquee 15s linear infinite;
      top: 35%;
      transform: translate(0, -50%);
    }
  }

  /* Works */
  .work-container:hover > .work-box > p {
    background: #e94e35;
  }

  .work-container:hover > div > p {
    color: #fff;
  }
}

@tailwind components;
@tailwind utilities;
